{% if notifications %}
{% for notification in notifications %}
<div class="card" style="width: 20rem;">
    <div class="card-body">
        {% if notification.verb == "liked" %}
        <h6 class="card-title"><strong><a href="{% url 'social_match:profile' notification.actor.id %}" class="primary">{{notification.actor.first_name}} {{notification.actor.last_name}}</a></strong> liked your post:</h6>
        {{notification.target.headline}}
        {% endif %}
        {% if notification.verb == "commented" %}
        <h5 class="card-title"><strong><a href="{% url 'social_match:profile' notification.actor.id %}" class="primary">{{notification.actor.first_name}} {{notification.actor.last_name}}</a></strong> commented on your post:</h5>
        {{notification.target.headline}}<br>
        {{notification.action_object.text}}
        {% endif %}
        <form class="centerDiv" action="{% url 'social_match:notifications' %}" method="GET">
            {% csrf_token %}
            <input type="hidden" name="return_to" value="profile">
            {% if notification.unread %}
            <input class="btn btn-light btn-sm" type="submit" value="Mark as read" id="readnotif-profile" data-t="profile" data-u="{{viewing_user.id}}" data-nid="{{notification.id}}">
            {% endif %}
            <input class="btn btn-light btn-sm" type="submit" value="Delete" id="deletenotif-profile" data-t="profile" data-u="{{viewing_user.id}}" data-nid="{{notification.id}}">
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<p align="center">No Notifications.</p>
{% endif %}