{% extends 'social_match/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% if confirmation %}
    {{confirmation}} Create another:
    {% else %}
    <div style="margin: auto; width: 17%;" class="typewriter2">
    <h2>Create a post!</h2>
    </div>
    {% endif %}
    <form class="createpost" method="POST" style="display:none">{% csrf_token %}

        <div class="form-group">
            <h5>Headline:</h5>
            {{ form.headline }}
        </div><br>
        <div class="form-group">
            <h5>Message:</h5>
            {{ form.message }}
        </div>
        </br>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endif %}
{% endblock %}