{% extends 'social_match/base.html' %}
{% block content %}
<div>
    Edit your post!
    <form method="POST">{% csrf_token %}
        </br>

        <div>
            Headline:
            {{ form.headline }}
        </div>
        <div>
            Message:
            {{ form.message }}
        </div>
        <div>
            Archived:
            {{ form.post_active }}
        </div>
        </br>

        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}