{% extends 'social_match/base.html' %}
{% block content %}
    {{ form.media }}
<div>
    <h2>Edit your Profile!</h2>
    <div style="padding-left: 20px">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        </br>
        <div>
            <strong>First Name:</strong>
            {{ form.first_name }}
        </div>
        <div>
            <strong>Last Name:</strong>
            {{ form.last_name }}
        </div>
        <div>
            <strong>Phone:</strong>
            {{ form.phone }}
            format: +9999999999
        </div>
        <div>
            <strong>Class Standing:</strong>
            {{ form.class_standing }}
        </div>
        <div>
            <strong>Graduation Year:</strong>
            {{ form.graduation_year }}
        </div>
        <div>
            <strong>Majors:</strong>
            {{ form.majors }}
        </div>
        <div>
            <strong>Minors:</strong>
            {{ form.minors }}
        </div>
        <div>
            <strong>Courses:</strong>
            {{ form.courses }}
        </div>
        <div>
            <strong>Skills:</strong>
            {{ form.skills }}
        </div>
        <div>
            <strong>Interests:</strong>
            {{ form.interests }}
        </div>
        <div>
            <strong>Activities:</strong>
            {{ form.activities }}
        </div>
        <div>
            <strong>Active:</strong>
            {{ form.status_active }}
        </div>
        <div>
            <strong>Picture:</strong>
            {{ form.picture }}
        </div>

        </br>

        <button class="btn btn-primary" type="submit">Save Changes</button>
        <a class="btn btn-light" href="{% url 'social_match:profile' %}">Cancel</a>

    </form>
    </div>
</div>
{% endblock %}