{% extends 'social_match/base.html' %}
{% block content %}
<html lang="en">

<!-- <head>
    <meta charset="utf-8">

    <title>Lucky 13's Social Matching Platform!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head> -->

<body>
    <div class="container">
        <div class="row">
            <div id="home_posts">
                {% include 'social_match/home_posts.html' %}
            </div>

            <div class="col-sm">
                <!-- Filtering Posts -->
                <h1>Filter Posts:</h1>

                <form method="POST">{% csrf_token %}
                    <br>
                    <div>
                        <h5>Name: </h5>{{ form.name }}
                    </div><br>
                    <div>
                        <h5>Keywords: </h5>{{ form.keywords }}<br>
                        Separate keywords by a space
                    </div><br>
                    <div>
                        <h5>Posts I've liked: {{ form.liked }}</h5>
                    </div>
                    <div>
                        <h5>Posts I've commented on: {{ form.commented }}</h5>
                    </div>

                    <button class="btn btn-primary btn-sm" type="submit" name="filter">Filter</button>
                    <button class="btn btn-primary btn-sm" type="submit" name="clear">Clear Filter</button>
                </form>

                <br />
                <hr>
                <!-- Displaying Notifications -->
                <h1>You have <strong>{{ notifications|length }}</strong> unread notification{{notifications|pluralize}}.</h1>
                {% if notifications %}
                <div style="overflow-y: auto; height:400px;">
                {% for notification in notifications %}
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        {% if notification.verb == "liked" %}
                            <h5><strong>{{notification.actor.first_name}} {{notification.actor.last_name}}</strong> liked your post:</h5>
                            <p class="card-text">{{notification.target.headline}}</p>
                        {% endif %}
                        {% if notification.verb == "commented" %}
                            <h5><strong>{{notification.actor.first_name}} {{notification.actor.last_name}}</strong> commented on your post:</h5>
                            <p class="card-text">{{notification.target.headline}}<br>
                                {{notification.action_object.text}}</p>
                        {% endif %}
                        <form class="centerDiv" action="{% url 'social_match:notifications' notification.id %}" method="GET">
                            {% csrf_token %}
                            <input type="hidden" name="return_to" value="home">
                            <input class="btn btn-light btn-sm" type="submit" value="Mark as read" name="read">
                            <input class="btn btn-light btn-sm" type="submit" value="Delete" name="delete">
                        </form>
                    </div>
                </div>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}