{% extends 'social_match/base.html' %}
{% load static %}
{% block content %}
{% load friendshiptags %}
{% if viewing_user.is_authenticated %}


<div class="jumbotron">
    <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">
                {% if viewing_user.picture %}
                    {% if viewing_user.picture.isempty or viewing_user.picture.name == 'False' %}
                        <img style='display: block; margin: auto;' height='256' width='256' src="{% static 'images/Portrait_Placeholder_Square.png' %}">
                    {% else %}
                        <img height='256' width='256' src="{{ viewing_user.picture.url }}">
                    {% endif %}
                {% else %}
                    <img height='256' width='256' src="{{ viewing_user.picture.url }}">
{#                    <i class="fas fa-viewing_user fa-10x img-thumbnail"></i>#}
                {% endif %}

            <br />
            {% if viewing_user == user %}
            <div style="display: flex">
                <div>
                    <form action="{% url 'social_match:editprofile' user.id %}" method="GET">
                        {% csrf_token %}
                        <input class="btn btn-light" type="submit" value="Edit Profile" name="edit_profile">
                    </form>
                </div>
                <div>
                    <form action="{% url 'social_match:editprofile' user.id %}" method="GET">
                        {% csrf_token %}
                        <input class="btn btn-light" type="submit" value="Upload Photo" name="prof_profile">
                    </form> 

                    
                    {% comment %} <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <button class="btn btn-light" type="submit">Upload</button>
                    </form>

                    {% if uploaded_file_url %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %} {% endcomment %}


                </div>
            </div>
                {% else %}
                    {% if not check_follow %}
                        <a href="{% url 'social_match:follow' viewing_user.id %}" method="post" name="follow"><button type="button" class="btn btn-info">Follow</button></a>
                    {% elif check_follow %}
                        <a href="{% url 'social_match:unfollow' viewing_user.id %}" method="post" name="unfollow"><button type="button" class="btn btn-info">Unfollow</button></a>
                    {% endif %}
                    {% if not check_block %}
                        <a href="{% url 'social_match:block' viewing_user.id %}" method="post" name="block"><button type="button" class="btn btn-info">Block</button></a>
                    {% elif check_block %}
                        <a href="{% url 'social_match:unblock' viewing_user.id %}" method="post" name="unblock"><button type="button" class="btn btn-info">Unblock</button></a>
                    {% endif %}
                {% endif %}
        </div>

  
            <div class="col-md-8 col-sm-12 mb-3">
                <h4 class="display-4">{{ viewing_user.first_name }} {{ viewing_user.last_name }}</h4>
                <h5>{% if viewing_user.class_standing %} {{ viewing_user.get_class_standing_display }}, {% endif %}Class of {{ viewing_user.graduation_year }}</h5>
                <h5>Majors:
                    {% for major in viewing_user.majors.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ major.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ major.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Minors:
                    {% for minor in viewing_user.minors.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ minor.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ minor.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Courses:
                    {% for course in viewing_user.courses.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ course.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ course.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Skills:
                    {% for skill in viewing_user.skills.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ skill.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ skill.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Interests:
                    {% for interest in viewing_user.interests.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ interest.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ interest.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Activities:
                    {% for activity in viewing_user.activities.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ activity.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ activity.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>


            <hr>
                <h4 class="display-5">Contact:</h4>
                <h5>Email: {{ viewing_user.email }}</h5>
                <h5>Phone number: {{ viewing_user.phone }}</h5>

            <br />


        </div>
    </div>

        <!-- Displaying Notifications -->
    {% if viewing_user == user %}
        <hr>
        <h1 align="center">Notifications</h1>
        {% if notifications %}
        <div align="center" class="col-sm" align="left" style="overflow-y: auto; height:400px;">
        {% for notification in notifications %}
        <div class="card" style="width: 30rem;">
            <div class="card-body">
            {% if notification.verb == "liked" %}
                <h5 class="card-title"><strong>{{notification.actor.first_name}} {{notification.actor.last_name}}</strong> liked your post:</h5>
                {{notification.target.headline}}
            {% endif %}
            {% if notification.verb == "commented" %}
                <h5 class="card-title"><strong>{{notification.actor.first_name}} {{notification.actor.last_name}}</strong> commented on your post:</h5>
                {{notification.target.headline}}<br>
                {{notification.action_object.text}}
            {% endif %}
            <form class="centerDiv" action="{% url 'social_match:notifications' notification.id %}" method="GET">
                {% csrf_token %}
                <input type="hidden" name="return_to" value="profile">
                {% if notification.unread %}
                <input class="btn btn-light btn-sm" type="submit" value="Mark as read" name="read">
                {% endif %}
                <input class="btn btn-light btn-sm" type="submit" value="Delete" name="delete">
            </form>
            </div>
        </div>
            {% endfor %} {% else %} <p align="center">No Notifications.</p>
        {% endif %}
    {% endif %}
    </div>

    <div id="profile_posts">
        {% include 'social_match/profile_posts.html' %}
    </div>

</div>

{% endif %}
{% endblock %}