{% load static %}

<hr>
<div align="center">
        <h4 class="display-4">Posts:</h4>
        {% if post_list %}
        {% for post in post_list %}
            <div class="card" align="left" style="width: 800px;">
                <div class="card-body">
                <h5 class="card-title" style="display: flex"> 
                    {% if viewing_user.picture %}
                        <img height='30' width='30' src="{{ viewing_user.picture.url }}">
                    {% else %}
                        <img height='30' width='30' src="{% static 'images/Portrait_Placeholder_Square.png' %}">
    {#                    <i class="fas fa-viewing_user fa-10x img-thumbnail"></i>#}
                    {% endif %}   
                    <div style="width:10px"></div>             
                    <a href="{% url 'social_match:profile' post.user.id %}" class="primary">{{post.user.first_name}} {{post.user.last_name}}: </a>{{ post.headline }}
                </h5>   
                <p>{{ post.message }}</p>
                <p class="card-text">Posted on {{post.date}}<br>
                    {% if post.post_edited %}
                    Last edited on: {{post.date_edited}}
                    {% endif %}</p>

                <div style="display: flex">

                    <p>{{ post.likes.count }} Like{{ post.likes.count|pluralize }}</p>

                    {% if not post.post_active %}
                        <p> Archived </p>
                    {% endif %}

                    <form action="{% url 'social_match:likepost' %}" method="post">
                        {% csrf_token %}
                        {% if user in post.likes.all %}
                        <button type="submit" id="like-profile" value="{{post.id}}" data-t="profile" data-u="{{viewing_user.id}}" data-p="{{post_list.number}}" class="btn btn-outline-primary btn-rounded waves-effect btn-sm"">Unlike</button>
                        {% else %}
                        <button type="submit" id="like-profile" value="{{post.id}}" data-t="profile" data-u="{{viewing_user.id}}" data-p="{{post_list.number}}" class="btn btn-primary btn-sm">Like</button>
                        {% endif %}
                    </form>

                    {% if form != None and post_id == post.id %}
                        <form action = "{% url 'social_match:commentpost' %}" method="post" id="comment-form">
                        {% csrf_token %}
                        {{ form.text }}
                        <button type="submit" id="submitcomment-profile" value="{{post.id}}" data-t="profile" data-u="{{viewing_user.id}}"  data-p="{{post_list.number}}" class="btn btn-outline-primary btn-rounded waves-effect btn-sm"">Comment</button>
                        </form>
                    {% else %}
                        <form action="{% url 'social_match:commentpost' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" id="comment-profile" value="{{post.id}}" data-t="profile" data-u="{{viewing_user.id}}" data-p="{{post_list.number}}" class="btn btn-primary btn-sm">Comment</button>
                        </form>
                    {% endif %}

                    <a class ="btn-lg" href="{% url 'social_match:editpost' post.id %}">
                        <i class="far fa-edit"></i>
                    </a>
                </div>
                    {% for comment in post.comments.all %}
                    <p style="margin-left: 50px"><a href="{% url 'social_match:profile' comment.user.id %}" class="primary">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>:
                        {{ comment.text }} <br><font size ='1'>{{ comment.date }}</font>
                        {% if request.user == comment.user %}
                            <a href="{% url 'social_match:commentpost' %}" method="post" id="deletecomment-profile" data-cid="{{comment.id}}" data-t="profile" data-u="{{viewing_user.id}}" data-p="{{post_list.number}}" class="primary">
                                <font size='1'>delete</font></a>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>

            </div>
            <br>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if post_list.has_previous %}
                    <a href="?p=1" class="primary">&laquo; first</a> -
                    {% if post_list.previous_page_number != 1 %}
                        <a href="?p={{post_list.previous_page_number}}" class="primary">previous</a>
                    {% endif %}
                {% endif %}

                <span class="current">
                    Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                </span>

                {% if post_list.has_next %}
                    {% if post_list.next_page_number != post_list.paginator.num_pages %}
                        <a href="?p={{post_list.next_page_number}}" class="primary">next</a> -
                    {% endif %}
                <a href="?p={{post_list.paginator.num_pages}}" class="primary">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>