{% extends 'social_match/base.html' %}
{% load static %}
{% block content %}
{% if viewing_user.is_authenticated %}


<div class="jumbotron">
    <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">
                {% if viewing_user.picture %}
                    <img height='256' width='256' src="{{ viewing_user.picture.url }}">
                {% else %}
                    <img style='display: block; margin: auto;' height='256' width='256' src="{% static 'images/Portrait_Placeholder_Square.png' %}">
{#                    <i class="fas fa-viewing_user fa-10x img-thumbnail"></i>#}
                {% endif %}
      
            <br />
            {% if viewing_user == user %}
            <div class='centerDiv'>
                <form class="centerDiv" action="{% url 'social_match:editprofile' user.id %}" method="GET">
                    {% csrf_token %}
                    <input class="btn btn-light" type="submit" value="Edit Profile" name="edit_profile">
                </form>
            </div>
            {% endif %}

        </div>
  
            <div class="col-md-8 col-sm-12 mb-3">
                <h4 class="display-4">{{ viewing_user.first_name }} {{ viewing_user.last_name }}</h4>
                <h5>{% if viewing_user.class_standing %} {{ viewing_user.get_class_standing_display }}, {% endif %}Class of {{ viewing_user.graduation_year }}</h5>
                <h5>Majors:
                    {% for major in viewing_user.majors.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ major.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ major.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Minors:
                    {% for minor in viewing_user.minors.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ minor.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ minor.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Courses:
                    {% for course in viewing_user.courses.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ course.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ course.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Skills:
                    {% for skill in viewing_user.skills.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ skill.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ skill.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Interests:
                    {% for interest in viewing_user.interests.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ interest.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ interest.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>
                <h5>Activities:
                    {% for activity in viewing_user.activities.all %}
                        {% if forloop.last %}
                            <a class='link' href="#">{{ activity.name }}</a>
                        {% else %}
                            <a class='link' href="#">{{ activity.name }}</a>,
                        {% endif %}
                    {% endfor %}
                </h5>


            <hr>

                <h5>Email: {{ viewing_user.email }}</h5>
                <h5>Phone number: {{ viewing_user.phone }}</h5>

            <br />


        </div>
    </div>

    <div align="center">
        {% if post_list %}
        {% for post in post_list %}
            <div class="card" align="left" style="width: 70rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.headline }}</h5>
                        <p class="card-text">{{ post.message }}</p>
                        <p>Posted on: {{post.date}} <br>
                            {% if post.post_edited %}
                            Last edited on: {{post.date_edited}}
                            {% endif %}
                        </p>

                        <p>{{ post.likes.count }} Like{{ post.likes.count|pluralize }}</p>

                        {% if not post.post_active %}
                            <p> Archived </p>
                        {% endif %}

                        {% for comment in post.comments.all %}
                        <p><a href="{% url 'social_match:profile' comment.user.id %}" class="primary">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>:
                            {{ comment.text }} <font size ='1'>{{ comment.date }}</font></p>
                        {% endfor %}

                        <form action="{% url 'social_match:editpost' post.id %}" method="get">
                            {% csrf_token %}
                            <input type="submit" value="Edit Post" name="edit_post" class="btn btn-primary">
                        </form>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if post_list.has_previous %}
                    <a href="?p=1" class="primary">&laquo; first</a> -
                    {% if post_list.previous_page_number != 1 %}
                        <a href="?p={{post_list.previous_page_number}}" class="primary">previous</a>
                    {% endif %}
                {% endif %}

                <span class="current">
                    Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                </span>

                {% if post_list.has_next %}
                    {% if post_list.next_page_number != post_list.paginator.num_pages %}
                        <a href="?p={{post_list.next_page_number}}" class="primary">next</a> -
                    {% endif %}
                <a href="?p={{post_list.paginator.num_pages}}" class="primary">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>

{% endif %}
{% endblock %}