<!--***************************************************************************************
* REFERENCES
* Title: How to Filter QuerySets Dynamically
* Author: Vitor Freitas
* Date: November 28, 2016
* Code version: n/a
* Availability: https://simpleisbetterthancomplex.com/tutorial/2016/11/28/how-to-filter-querysets-dynamically.html
****************************************************************************************-->
{% extends 'social_match/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{{ filter.form.media }}
{% if user.is_authenticated %}
  <form method="get">
    <div class="well">
      <h2 style="margin-top: 0">Search</h2>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.first_name.label_tag }}
          {% render_field filter.form.first_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.last_name.label_tag }}
          {% render_field filter.form.last_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.email.label_tag }}
          {% render_field filter.form.email class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.class_standing.label_tag }}
          {% render_field filter.form.class_standing class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-2">
          {{ filter.form.graduation_year.label_tag }}
          {% render_field filter.form.graduation_year class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.majors.label_tag }}
          {% render_field filter.form.majors class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.minors.label_tag }}
          {% render_field filter.form.minors class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.courses.label_tag }}
          {% render_field filter.form.courses class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.skills.label_tag }}
          {% render_field filter.form.skills class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.interests.label_tag }}
          {% render_field filter.form.interests class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.activities.label_tag }}
          {% render_field filter.form.activities class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
      <a href="{% url 'social_match:resetsearch' %}">
      <button type="button" class="btn btn-light">
      Reset
      </button></a>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Profile Photo</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Profile</th>
      </tr>
    </thead>
    <tbody>
      {% for u in filter.qs %}
        {% if user.email != u.email%}
        <tr>
          <td>{% if u.picture %}
                    {% if u.picture.isempty or u.picture.name == 'False' %}
                        <img style='display: block; margin: auto;' height='65' width='65' src="{% static 'images/Portrait_Placeholder_Square.png' %}">
                    {% else %}
                        <img height='65' width='65' src="{{ u.picture.url }}">
                    {% endif %}
                {% else %}
                    <img style='display: block; margin: auto;' height='65' width='65' src="{% static 'images/Portrait_Placeholder_Square.png' %}">
                {% endif %}
          </td>
          <td>{{ u.first_name }}</td>
          <td>{{ u.last_name }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phone}}</td>
          <td><a href="{% url 'social_match:profile' u.id %}"><button type="button" class="btn btn-info">View</button></a></td>
        </tr>
        {% endif %}
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif%}
{% endblock %}