.splash {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer, .push {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
}